.header {
   height : 100px;
   width : 100%;
   display : flex;
   border-bottom: 1px solid #fafafa;
}
.header .title {
	font-size: 24px;
	margin: auto 0;
	cursor: pointer;
	padding: 20px;
}
.header .title:hover {
	color: #000;
}
.header .login {
	font-size: 24px;
	padding: 20px 50px;
	cursor: pointer;
}
.header .login:hover {
	color: #000;
}
.header .cart {
	margin: auto;
	padding: 20px;
	cursor: pointer;
}
.header .cart:hover > div {
	opacity: 1;
	background: #fafafa;
}
.header .cart > div {
	display: flex;
	opacity: 0.5;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}
.header .cart > div img {
	height: 30px;
	width: 30px;
	margin: auto;
}
